{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="fullApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>sbadmin</title>
	<script type="text/javascript" src="{% static "sbadmin/assets/js/angular.min.js" %}"></script>

	<!--=== CSS ===-->

	<!-- Bootstrap -->
	<link href="{% static "sbadmin/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />

	<!-- jQuery UI -->
	<!--<link href="plugins/jquery-ui/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />-->
	<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" href="plugins/jquery-ui/jquery.ui.1.10.2.ie.css"/>
	<![endif]-->

	<!-- Theme -->
	<link href="{% static "sbadmin/assets/css/main.css" %}" rel="stylesheet" type="text/css" />
	<link href="{% static "sbadmin/assets/css/plugins.css" %}" rel="stylesheet" type="text/css" />
	<link href="{% static "sbadmin/assets/css/responsive.css" %}" rel="stylesheet" type="text/css" />
	<link href="{% static "sbadmin/assets/css/icons.css" %}" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="{% static "sbadmin/assets/css/fontawesome/font-awesome.min.css" %}">
	<!--[if IE 7]>
		<link rel="stylesheet" href="{% static "sbadmin/assets/css/fontawesome/font-awesome-ie7.min.css">
	<![endif]-->

	<!--[if IE 8]>
		<link href="{% static "sbadmin/assets/css/ie8.css" rel="stylesheet" type="text/css" />
	<![endif]-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

	<!--=== JavaScript ===-->

	<script type="text/javascript" src="{% static "sbadmin/assets/js/libs/jquery-1.10.2.min.js" %}"></script>
	<script type="text/javascript" src="{% static "sbadmin/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js" %}"></script>

	<script type="text/javascript" src="{% static "sbadmin/bootstrap/js/bootstrap.min.js" %}"></script>
	<script type="text/javascript" src="{% static "sbadmin/assets/js/libs/lodash.compat.min.js" %}"></script>

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="{% static "sbadmin/assets/js/libs/html5shiv.js" %}"></script>
	<![endif]-->

	<!-- Smartphone Touch Events -->
	<script type="text/javascript" src="{% static "sbadmin/plugins/touchpunch/jquery.ui.touch-punch.min.js" %}"></script>
	<script type="text/javascript" src="{% static "sbadmin/plugins/event.swipe/jquery.event.move.js" %}"></script>
	<script type="text/javascript" src="{% static "sbadmin/plugins/event.swipe/jquery.event.swipe.js" %}"></script>

	<!-- General -->
	<script type="text/javascript" src="{% static "sbadmin/assets/js/libs/breakpoints.js" %}"></script>
	<script type="text/javascript" src="{% static "sbadmin/plugins/respond/respond.min.js" %}"></script> <!-- Polyfill for min/max-width CSS3 Media Queries (only for IE8) -->
	<script type="text/javascript" src="{% static "sbadmin/plugins/cookie/jquery.cookie.min.js" %}"></script>
	<script type="text/javascript" src="{% static "sbadmin/plugins/slimscroll/jquery.slimscroll.min.js" %}"></script>
	<script type="text/javascript" src="{% static "sbadmin/plugins/slimscroll/jquery.slimscroll.horizontal.min.js" %}"></script>

	
	<!-- Page Specific Plugins -->
	{% block head %}
	{% endblock%}

</head>

<body  ng-controller="AppBody">


    {% block header %}
        {% include 'sbadmin/header.html' %}
    {% endblock %}


	<div id="container" class="sidebar-closed">

	            {% block sidebar %}
	                {% include 'sbadmin/sidebar.html' %}
	            {% endblock %}

		<div id="content">
			<div class="container">
				<!-- Breadcrumbs line -->
				<div class="crumbs">
					<ul id="breadcrumbs" class="breadcrumb">
						{% for item in breadCrumb  %}
						<li>
							{% if forloop.first %}
								<i class="icon-home"></i>
							{% endif %}
							<a href="{{item.link}}">{{item.title}}</a>
						</li>
					    {% endfor  %}
					</ul>

					<ul class="crumb-buttons">
						{% for button in breadCrumbButtons %}
						<li {% if button.class != '' %}class="{{button.class}}"{% endif %}>
							<a href="{{button.link.url}}" title="" {% if button.class != '' %}data-toggle="{{button.class}}"{% endif %}>
								<i class="{{button.link.iconLeft}}"></i>
								<span>{{button.link.text | safe}}</span>
								{% if button.link.iconRight != '' %}
									<i class="{{button.link.iconRight}}"></i>
								{% endif %}
							</a>
							{% if button.options.data %}
							<ul class="{{button.options.icon}}">
								{% for item in button.options.data %}
									<li><a href="{{item.link}}" title=""><i class="{{item.icon}}"></i>{{item.text}}</a></li>
							    {% endfor  %}
							</ul>
							{% endif %}
						</li>
					    {% endfor  %}
					</ul>
				</div>
				<!-- /Breadcrumbs line -->

				<!--=== Page Header ===-->
				<div class="page-header" >
				
					<div class="page-title">
			            {% block timetracker %}
			                {% include 'sbadmin/timetracker.html' %}
			            {% endblock %}
					</div>

				</div>
				<!-- /Page Header -->

				<!--=== Page Content ===-->
			    {% block body %}
			    {% endblock %}
				<!-- /Page Content -->
			</div>
			<!-- /.container -->

		</div>
	</div>

</body>
</html>