{% load staticfiles %}
	<!-- Header -->
	<header class="header navbar navbar-fixed-top" role="banner">
		<!-- Top Navigation Bar -->
		<div class="container">

			<!-- Only visible on smartphones, menu toggle -->
			<ul class="nav navbar-nav">
				<li class="nav-toggle"><a href="javascript:void(0);" title=""><i class="icon-reorder"></i></a></li>
			</ul>

			<!-- Logo -->
			<a class="navbar-brand" href="{% url 'index' %}">
				<img src="{% static "sbadmin/assets/img/logo.png" %}" alt="logo"  style="display:none" />
				{{title|safe}}
			</a>
			<!-- /logo -->

			<!-- Sidebar Toggler -->
			<a href="#" class="toggle-sidebar bs-tooltip" data-placement="bottom" data-original-title="Toggle navigation">
				<i class="icon-reorder"></i>
			</a>
			<!-- /Sidebar Toggler -->

			<!-- Top Left Menu -->
			<ul class="nav navbar-nav navbar-left hidden-xs hidden-sm">
				{% for item in header.leftMenu  %}
				<li>
					{% if not item.link.itens %}
						<a href="{{item.link.url}}">
							{{item.link.title}}
						</a>
					{% else%}
						<a href="{{item.link.url}}" class="dropdown-toggle" data-toggle="dropdown" >
							{{item.link.title}}
							<i class="icon-caret-down small"></i>
						</a>
						<ul class="dropdown-menu">
							{% for subitem in item.link.itens %}
								{% if subitem.divider%}
									<li class="divider"></li>
								{% else%}
									<li><a href="{{subitem.link}}"><i class="{{subitem.icon}}"></i> {{subitem.title}}</a></li>
								{% endif %}
							{% endfor %}
						</ul>
					{% endif %}
				</li>
				{% endfor  %}
			</ul>
			<!-- /Top Left Menu -->

			<!-- Top Right Menu -->
			<ul class="nav navbar-nav navbar-right">
				<!-- Notifications -->
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-warning-sign"></i>
						{% verbatim %}
							<span class="badge">{{notifications.length}}</span>
						{% endverbatim %}
					</a>
					<ul class="dropdown-menu extended notification">
						<li class="title">
							{% verbatim %}
								<p>You have {{notifications.length}} new notifications</p>
							{% endverbatim %}
						</li>
						<li ng-repeat="notification in notifications">
							{% verbatim %}
							<a href="{{notification.link}}">
								<span class="{{notification.class}}"><i class="{{notification.icon}}"></i></span>
								<span class="message">{{notification.message}}</span>
								<span class="time">{{notification.time}} mins</span>
							</a>
							{% endverbatim %}
						</li>
						<li class="footer">
							<a href="javascript:void(0);">View all notifications</a>
						</li>
					</ul>
				</li>

				<!-- Tasks -->
				<li class="dropdown hidden-xs hidden-sm">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-tasks"></i>
						{% verbatim %}
							<span class="badge">{{tasks.length}}</span>
						{% endverbatim %}
					</a>
					<ul class="dropdown-menu extended notification">
						<li class="title">
							{% verbatim %}
								<p>You have {{tasks.length}} pending tasks</p>
							{% endverbatim %}
						</li>
						<li ng-repeat="task in tasks | limitTo:4">
							{% verbatim %}
								<a href="javascript:void(0);">
									<span class="task">
										<span class="desc">{{task.description}}</span>
										<span class="percent">{{task.percent}}%</span>
									</span>
									<div class="{{task.class}}">
										<div style="width: {{task.percent}}%;" class="{{task.progressClass}}"></div>
									</div>
								</a>
							{% endverbatim %}
						</li>
						<li class="footer">
							<a href="javascript:void(0);">View all tasks</a>
						</li>
					</ul>
				</li>

				<!-- Messages -->
				<li class="dropdown hidden-xs hidden-sm">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-envelope"></i>
						{% verbatim %}
							<span class="badge">{{messages.length}}</span>
						{% endverbatim %}
					</a>
					<ul class="dropdown-menu extended notification">
						<li class="title">
							{% verbatim %}
								<p>You have {{messages.length}} new messages</p>
							{% endverbatim %}
						</li>
						<li ng-repeat="message in messages">
							{% verbatim %}
							<a href="{{message.link}}">
								<span class="photo"><img src="{{ message.photo }}" alt="" /></span>
								<span class="subject">
									<span class="from">{{message.from}}</span>
									<span class="time">{{message.time}}</span>
								</span>
								<span class="text">
									{{message.text}}
								</span>
							</a>
							{% endverbatim %}
						</li>
						<li class="footer">
							<a href="javascript:void(0);">View all messages</a>
						</li>
					</ul>
				</li>

				<!-- .row .row-bg Toggler -->
				<li>
					<a href="#" class="dropdown-toggle row-bg-toggle">
						<i class="icon-resize-vertical"></i>
					</a>
				</li>

				<!-- Project Switcher Button -->
				<li class="dropdown">
					<a href="#" class="project-switcher-btn dropdown-toggle">
						<i class="icon-folder-open"></i>
						<span>Projects</span>
					</a>
				</li>

				<!-- User Login Dropdown -->
				<li class="dropdown user">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<!--<img alt="" src="{% static "sbadmin/assets/img/avatar1_small.jpg" />-->
						<i class="icon-male"></i>
						<span class="username">{{header.rightMenu.user.name}}</span>
						<i class="icon-caret-down small"></i>
					</a>
					<ul class="dropdown-menu">
						{% for item in header.rightMenu.user.menu  %}
							{% if item.divider %}
								<li class="divider"></li>
							{% else %}
								<li><a href="{{item.link}}"><i class="{{item.icon}}"></i> {{item.title}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</li>
				<!-- /user login dropdown -->
			</ul>
			<!-- /Top Right Menu -->
		</div>
		<!-- /top navigation bar -->

		<!--=== Project Switcher ===-->
		<div id="project-switcher" class="container project-switcher">
			<div id="scrollbar">
				<div class="handle"></div>
			</div>

			<div id="frame">
				<ul class="project-list">
					{% for project in header.rightMenu.projects  %}
					<li {% if project.current %}class="current"{% endif %}>
						<a href="{{project.link}}">
							<span class="image"><i class="{{project.icon}}"></i></span>
							<span class="title">{{project.title}}</span>
						</a>						
					</li>
					{% endfor  %}
				</ul>
			</div> <!-- /#frame -->
		</div> <!-- /#project-switcher -->
	</header> <!-- /.header -->