{% load staticfiles %}

{% block head %}
	<!-- Page specific plugins -->
{% endblock %}

{% block timetracker %}
		<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Qual atividade você está fazendo?">
					<div class="input-group-btn">
						<span class="input-group-btn">
							<button class="btn btn-success" type="button">Iniciar</button>
						</span>
					</div><!--input-group-btn -->
				</div><!--input-group -->
		</div>
{% endblock %}
